<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智聘云析</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="/static/css/layui.css" rel="stylesheet">
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">智聘云析</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                    <a href="javascript:;">
                        <img src="/static/img/dkw.png" class="layui-nav-img">
                        admin
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">控制台</a></dd>
                        <dd><a href="">个人信息</a></dd>
                        <dd><a href="">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;" data-url="resumemanager">简历管理</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">职位管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" data-url="joblists">职位列表</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">脚本管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" data-url="spidermanager">爬虫管理</a></dd>
                            <dd><a href="javascript:;" data-url="spidercookie">账号管理</a></dd>
                            <dd><a href="javascript:;" data-url="spiderule">调度规则</a></dd>
                            <dd><a href="javascript:;" data-url="spiderlogs">执行日志</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 --> 
            <div style="padding: 15px; height: 100%;">
                <iframe id="iframeMain" name="iframeMain" src="resumemanager" width="100%" height="100%" scrolling="auto" frameborder="0"></iframe>
            </div>
        </div>
        <script src="/static/js/layui.js"></script>
        <script>
            layui.use(['jquery','element'], function(){
                var $ = layui.jquery;
                var element = layui.element;
                element.on('nav(test)', function(elem){
                    var url = $(elem).data('url');
                    if(url == undefined){
                        return;
                    }
                    $('#iframeMain').attr('src', url);
                });
            });
        </script>
</body>

</html>